
@{
    ViewBag.Title = "Index";
}

@Html.Action("Slider","Home")

<section id="posts" class="posts">
    <div class="container" data-aos="fade-up">
        <div class="row g-5">


            @Html.Action("NewArticle","Home")


                </div>
            </div>
</section>
