@model IEnumerable<Virgol.Views.ViewModel.SliderViewModel>


<section id="hero-slider" class="hero-slider">
    <div class="container-md" data-aos="fade-in">
        <div class="row">
            <div class="col-12">
                <div class="swiper sliderFeaturedPosts">
                    <div class="swiper-wrapper">
                        @foreach (var Item in Model)
                        {
                            <div class="swiper-slide">
                                <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('../../Images/SlideShow/@Item.ImageName');">
                                    <div class="img-bg-inner">
                                        <h2>@Item.Title</h2>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="custom-swiper-button-next">
                        <span class="bi-chevron-right"></span>
                    </div>
                    <div class="custom-swiper-button-prev">
                        <span class="bi-chevron-left"></span>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>

